<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Scraping App</title>
</head>

<body>
    <nav>
        <a href="/">Go to page 1</a>
        <a href="/history">Go to page 2</a>
    </nav>

    {{{body}}}

</body>

</html>