
<div>
  <div>
    <label>Harga Produk :</label>
    {{productCurrentPrice}}
  </div>
  <div>
    <label>Deskripsi Produk :</label>
    {{productDescription}}
  </div>
  <div>
    <label>Dilihat Pada :</label>
    {{currentTime}}
  </div>
</div>